<div class="container main">
  <div class="game-over">
    <% if @game.connect_four %>
      <%= @current_player %> wins the game!
    <% else %>
      Game Over... Play Again
    <% end %>
  </div>
  <%= erb :_board %>
</div>