<div class="container main">
  <div class="container">
    <% if @game.num_players.nil? %>

      <%= erb :_select_num_players %>

    <% else %>

      <form method="POST" action="/drop_checker">
        <div class="clearfix"></div>
        <h2 class="current-player <%= @current_player == 'Player 1' ? 'black' : 'red' %>">
          <%= @current_player %>
        </h2>
        <legend>Drop one of your checkers down any open slot in the grid.</legend>
        <%= erb :_board %>
        <button type="submit" class="mb-5">Submit</button>
      </form>

    <% end %>
  </div>
</div>