<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <form method="POST" action="/reset" class="form-inline my-2 my-lg-0">
    <button type="submit">Start Over</button>
  </form>
</nav>
<div class="container main">
  <form method="POST" action="/move">
    <h1>CONNECT FOUR</h1>
    <div class="clearfix"></div>
    <h2>
      <% player = @player == 'player1' ? 'Player 1' : 'Player 2' %>
      <%= player %>
    </h2>
    <legend>Drop one of your checkers down any open slot in the grid.</legend>
    <div class="container mb-3">
      <table>
        <thead>
          <tr class="row">
            <% slot = 0 %>
            <% y = 6 %>
            <% y.times do %>
              <th class="col pt-2 pb-2">
                <input type="radio" name="slot" value="<%= slot %>">
              </th>
              <% slot += 1 %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @board.each do |row| %>
            <tr class="row">
              <% row.each do |cell| %>
                <%
                    cell_style =
                      case cell
                      when '<>' then 'empty'
                      when 'O' then 'player1'
                      when 'X' then 'player2'
                      end
                  %>
                <td class="col <%= cell_style %> text-center">
                  <%= cell %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <button type="submit" class="mb-5">Submit</button>
  </form>
</div>