<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Connect 4 - Chris Lake</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- only load for '/' route -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style type="text/css">
      .navbar-inverse {
        background-color: rgb(200, 230, 244) !important;
      }
      button {
        background-color: rgb(67, 135, 144) !important;
        border: none;
        padding: 15px 25px 15px 25px;
        color: white;
      }
      nav form button {
        background-color: rgb(200, 230, 244) !important;
        border: solid 2px rgb(67, 135, 144);
        padding: 15px 25px 15px 25px;
        color: rgb(67, 135, 144);
      }
      .main {
        margin-top: 10%;
      }
      h1 {
        font-weight: 700;
      }
      div.clearfix {
        margin-top: 25px;
      }
      th {
        border: 3px solid rgb(30, 73, 78);
      }
      td {
        border: 1px dotted gray;
      }
      .empty {
        color: white;
      }
      .player1 {
        color: white;
        background-color: black;
      }
      .player2 {
        color: white;
        background-color: red;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>