<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Connect 4 - Chris Lake</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <h1>CONNECT FOUR</h1>
        <form method="POST" action="/start_new_game" class="form-inline nav-form">
          <button type="submit">Start New Game</button>
        </form>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>