.navbar-inverse {
  background-color: rgb(200, 230, 244) !important;
}
button {
  background-color: rgb(67, 135, 144);
  border: none;
  padding: 15px 25px 15px 25px;
  color: white;
  cursor: pointer;
}
nav form button {
  background-color: rgb(200, 230, 244);
  border: solid 2px rgb(67, 135, 144);
  padding: 15px 25px 15px 25px;
  color: rgb(67, 135, 144);
}
.nav-form {
  position: absolute;
  right: 0;
  padding-right: 10px;
}
button.start-btn {
  margin-top: 10px;
}
.main {
  margin-top: 15%;
}
h1 {
  font-weight: 700;
  text-shadow: 4px 3px yellow;
}
div.clearfix {
  margin-top: 25px;
}
th {
  border: 3px solid rgb(30, 73, 78);
}
th.filled {
  background-color: yellow;
}
td {
  border: 1px dotted gray;
}
.empty {
  color: white;
}
.player1 {
  color: black;
  background-color: black;
}
.player2 {
  color: red;
  background-color: red;
}
.current-player {
  width: 25%;
  font-weight: 800;
}
.black {
  color: black;
}
.red {
  color: red;
}
div.winner {
  font-size: 40px !important;
}